.App {
  padding-top: 40px;
}

.topSpace {
  padding-top: 40px;;
}

.scrollMe {
  max-height: 70vh;
  overflow-y: hidden;
  overflow-y: scroll;
}

.headerText {
  text-align: center;
  padding-bottom: 40px;
}

.comicItem, .comicDetail {
  cursor: pointer;
}